.md-footer__direction{
    display: none
  }

h2 code {
  font-family: sans-serif;
}

footer {
  font-family: "Gill Sans", sans-serif;
}

.md-footer__inner.md-grid {
  display: none;
}

div.md-copyright {
  color: whitesmoke;
}

.index {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* text-align: center; */
  font-size: 30px;
}

div .parent {
  width: 100%;
}

div .child {
  float: left;
  width: 45%;
  margin: 2%;
}

#example {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}


.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
